<h1>New Customer</h1>

<div class="customer-edit">
<%= form_for @customer, url: manage_customers_url do |f| %>
  <%= render partial: 'spree/manage/customers/customer_form', locals: { f: f } %>
<% end %>
  <div class="clear"></div>
</div>
