<h1> <%= @customer.name %></h1>

<section class="customer-top group">
  <ul class="customer-right">
    <li>Current Balance:</li>
    <li>Past Due Balance:</li>
    <li><a href="">Orders</a></li>
    <li><a href="">Invoices</a></li>
  </ul>

  <ul class="contact-left">
    <li>Primary Contact: <%= #{@customer.users.first.firstname @customer.users.first.lastname} %></li>
    <li>Primary Phone: <%#= @customer.phone %></li>
    <li>Primary Email: <%#= @customer.email %></li>
    <li>Customer Address: </li>
      <ul class="address">
        <li>address line 1<%#= @address.address1 %></li>
        <%# if @address.address2 %>
          <!-- <li><%#= @address.address2 %></li> -->
        <%# end %>
        <li> City<%#= @address.city %></li>
        <li> State<%#= @address.state_name %></li>
        <li> Zip Code<%#= @address.zipcode %></li>
      </ul>
    <li></li>
  </ul>
</section>
