<!DOCTYPE html>
<html>
<head>
  <title>SWEET!</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag    'application' %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="root-page">
    <%=image_tag("sweet.png", class: 'splash-logo')%>
    <div class="login-form-container">

      <form action="/login" method="post">
        <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

        <input type="email" name=spree_user[email] placeholder="Email">
        <input type="password" name=spree_user[password] placeholder="Password">

        <button class="btn-login">Sign In</button>

      </form>

    </div>
  </div>

</body>


</html>
