<h2>Enter Sales</h2>
<div class="divider"></div>
<form action="#" id="sales-form">
  <p><label for="s_moonth">Sales this month: <%=image_tag("spree/manage/img/dollar-ico.png")%></label><input type="text" id="s_moonth"></p>
  <p><label for="s_week">Sales this week: <%=image_tag("spree/manage/img/dollar-ico.png")%></label><input type="text" id="s_week"></p>
  <p><label for="s_year">Sales this year: <%=image_tag("spree/manage/img/dollar-ico.png")%></label><input type="text" id="s_year"></p>
  <p class="aligncenter"><input type="submit" value="Submit"></p>
</form>
