<% if nil %>
	// need to update below code for any dynamic update after populating order
	// below code is from spree ajax add to cart gem
	$('#link-to-cart').html("<%= j(link_to_cart) %>");
<% end %>


<% if flash[:success] %>
	$('#alert').html("<div class='alert alert-success alert-auto-dissapear'><%= flash[:success] %></div>");
	setTimeout(function() {
			$(".alert-auto-dissapear").fadeOut(1500);
	},2000);
	$('#shopping-cart').html("<i class='fa fa-shopping-cart'></i> ( <%= number_to_currency(current_order.total) %> )");
<% end %>
