
<h3><%=image_tag("spree/manage/img/settings-ico.png")%>
  <span class="tablet-hide">Configuration
    <i class="fa fa-angle-left"></i>
  </span>
</h3>

<div class="accordion-block">
  <ul>
    <li><a href="<%= manage_integrations_url %>">Integration</a></li>
  </ul>
</div>
