<!-- remove this link when using accordian-block -->
<a href="<%= manage_orders_url %>">
  <h3>
    <%=image_tag("spree/manage/img/nav-ico3.png")%>
    <span class="tablet-hide">Orders
      <!-- <i class="fa fa-angle-left"></i> -->
    </span>
  </h3>
</a>

<div class="accordion-block">
  <ul>
    <li><a href=""></a></li>
  </ul>
</div>
