
  <h3><%=image_tag("spree/manage/img/nav-ico1.png")%>
    <span class="tablet-hide">Reports
      <i class="fa fa-angle-left"></i>
    </span>
  </h3>

<div class="accordion-block">
  <ul>
    <li><a href="<%= manage_reports_overview_url %>">Total Sales</a></li>
    <li><a href="<%= manage_reports_customers_url %>">Customer Reports</a></li>
    <li><a href="<%= manage_reports_products_url %>">Product Reports</a></li>
  </ul>
</div>
