
  <h3><%=image_tag("spree/manage/img/nav-ico1.png")%>
    <span class="tablet-hide">Reports
      <i class="fa fa-angle-left"></i>
    </span>
  </h3>

<div class="accordion-block">
  <ul>
    <li><a href="<%= manage_reports_url %>">Reports</a></li>
    <li><a href="<%= manage_reports_url %>">Reports</a></li>
  </ul>
</div>
