
@font-face {
    font-family: 'p22_underground_cy_probook';
    src: url('p22undergroundcypro-book-webfont.eot');
    src: url('p22undergroundcypro-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('p22undergroundcypro-book-webfont.woff2') format('woff2'),
         url('p22undergroundcypro-book-webfont.woff') format('woff'),
         url('p22undergroundcypro-book-webfont.ttf') format('truetype'),
         url('p22undergroundcypro-book-webfont.svg#p22_underground_cy_probook') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'p22_underground_cy_prodemi';
    src: url('p22undergroundcypro-demi-webfont.eot');
    src: url('p22undergroundcypro-demi-webfont.eot?#iefix') format('embedded-opentype'),
         url('p22undergroundcypro-demi-webfont.woff2') format('woff2'),
         url('p22undergroundcypro-demi-webfont.woff') format('woff'),
         url('p22undergroundcypro-demi-webfont.ttf') format('truetype'),
         url('p22undergroundcypro-demi-webfont.svg#p22_underground_cy_prodemi') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'p22_underground_cy_probold';
    src: url('p22undergroundcypro-heavy-webfont.eot');
    src: url('p22undergroundcypro-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('p22undergroundcypro-heavy-webfont.woff2') format('woff2'),
         url('p22undergroundcypro-heavy-webfont.woff') format('woff'),
         url('p22undergroundcypro-heavy-webfont.ttf') format('truetype'),
         url('p22undergroundcypro-heavy-webfont.svg#p22_underground_cy_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'p22_underground_cy_proregular';
    src: url('p22undergroundcypro-medium-webfont.eot');
    src: url('p22undergroundcypro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('p22undergroundcypro-medium-webfont.woff2') format('woff2'),
         url('p22undergroundcypro-medium-webfont.woff') format('woff'),
         url('p22undergroundcypro-medium-webfont.ttf') format('truetype'),
         url('p22undergroundcypro-medium-webfont.svg#p22_underground_cy_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'p22_underground_cy_prothin';
    src: url('p22undergroundcypro-thin-webfont.eot');
    src: url('p22undergroundcypro-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('p22undergroundcypro-thin-webfont.woff2') format('woff2'),
         url('p22undergroundcypro-thin-webfont.woff') format('woff'),
         url('p22undergroundcypro-thin-webfont.ttf') format('truetype'),
         url('p22undergroundcypro-thin-webfont.svg#p22_underground_cy_prothin') format('svg');
    font-weight: normal;
    font-style: normal;

}