<div class="app-user-block">
  <div class="photo online">
    <!-- <img src="images/spree/manage/img/user-photo.jpg" alt=""> -->
    <%=image_tag("spree/manage/img/user-photo.jpg")%>
  </div>

  <div class="info tablet-hide">
    <p class="user-name">Djone Doe</p>
    <p class="user-role">Manager</p>
  </div>

  <div class="clear"></div>
</div>
