<h1> <%= @vendor.name %> </h1>

<h1>Orders Overview</h1>
<section class="orders-overview-filters">
  <ul>
    <li>Filter by [Customer dropdown]</li>
    <li>Search [Customer search box]</li>
    <li>Select Delivery [Date dropdown]</li>
  </ul>
</section>

<table class="orders-overview">
  <colgroup span="6"></colgroup>
  <tr>
    <th>Customer</th>
    <th>Order #</th>
    <th>Total Items</th>
    <th>Total</th>
    <th>Status</th>
    <th>Approve <input type="checkbox">Select All</input></th>
  </tr>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.customer.name %></td>
      <td><a href="<%= vendor_order_url(order.id, order.vendor_id) %>"><%= order.id %></a></td>
      <td>order.item_total</td>
      <td>order.total</td>
      <td>order.status</td>
      <td>
        <!-- remove quotes and change to order.status when set up -->
        <% if 'Action Req' == 'Action Req' %>
          <input type="checkbox"></input>
        <% end %>
      </td>
    </tr>
  <% end %>

</table>


<button class="add-to-order">Confirm Orders</button>
