<h1> <%= @order.vendor.name %> </h1>
<h4><a href="<%= vendor_orders_url(@order.vendor) %>">< Back to All Orders</a></h4>
<h1> Customer: <%= @order.customer.name %> </h1>
<h3> Order #<%= @order.id %> </h3>

<section class="product-category">
  <h4 class="category-title">Category name</h4>
  <ul>
    <li>Product</li>
    <li>SKU #</li>
    <li>Pack/Size</li>
    <li>Quantity</li>
    <li>Price</li>
    <li>Total</li>
    <li>Out of Stock</li>
  </ul>
</section>
