<a href="<%= vendor_url(Spree::Vendor.find_by_name('Ceci Cela')) %>">
  <h3>
    <%=image_tag("spree/manage/img/catalog.png")%>
    <span class="tablet-hide">Catalog
       <!-- <i class="fa fa-angle-left"></i> -->
     </span>
  </h3>
</a>
<div class="accordion-block">
  <ul>
    <li><a href=""></a></li>
  </ul>
</div>
