
  <h3>
    <%=image_tag("spree/manage/img/catalog.png")%>
    <span class="tablet-hide">Catalogs
       <i class="fa fa-angle-left"></i>
     </span>
  </h3>

<div class="accordion-block">
  <ul>
    <% current_spree_user.customer.vendors.each do |vendor| %>
      <li><a href="<%= vendor_products_url(vendor) %>"><%= vendor.name %></a></li>
    <% end %>
  </ul>
</div>
