<h1 class="vendor-heading"> <%= @vendor.name %></h1>
<h4><a href="<%= vendor_orders_url(@vendor) %>">View Orders</a></h4>
<h4><a href="<%= vendor_products_url(@vendor) %>">Product Catalog</a></h4>

<h3> Overview Page </h3>
