<form action="<%= manage_products_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

  <h1>New Product <input type="text" name="" placeholder="Product Name"></h1>

  <h5>Manufacturer: <input type="text" name="" placeholder="Mfg"></h5>

  <div class="group">
    <div class="product-left">
      <img src="", alt="Image not Available">
      <a href="#">Upload New Image</a>

      <div class="allergans">
        <label><input type="checkbox" name="" value="">Nuts</label><br>
        <label><input type="checkbox" name="" value="">Dairy</label><br>
        <label><input type="checkbox" name="" value="">Seafood</label><br>
        <label><input type="checkbox" name="" value="">Gluten</label><br>
        <label><input type="checkbox" name="" value=""></label><br>
        <label><input type="checkbox" name="" value=""></label><br>
        <label><input type="checkbox" name="" value=""></label><br>
      </div>
    </div>

    <div class="product-right">
      <textarea class="product-description" name="">This is the @product description. Not sure
        if there is a field in the DB for this yet, still have to check. But this
        is where it would go.
      </textarea>

      <ul class="dietary-restrictions">
        <label><input type="checkbox" name="" value=""></label>Gluten Free<br>
        <label><input type="checkbox" name="" value=""></label>Vegetarian<br>
        <label><input type="checkbox" name="" value=""></label>Vegan<br>
      </ul>

    </div>
  </div>

  <section class="product-bottom group">
    <label>Meta Tags
      <input type="text" name=product[meta_tags] value="">
    </label>
  </section>

  <button class="add-to-order">Save Product</button>
</form>
