<table class="row footer">
  <tr>
    <td class="wrapper last">

      <table class="twelve columns">
      <!--
        <tr>
          <td align="center">
            <center>
              <p style="text-align:center;"><a href="/faq">FAQ</a> | <a href="#">Sweetist.co</a> | <a href="/legal-privacy#">Legal & Terms</a></p>
            </center>
          </td>
          <td class="expander"></td>
        </tr>
        -->
				<tr>
					<td class="footer-note">
						For help with changing an order, or any other inquiries including questions about delivery, please contact us at <a href=<%= "mailto:#{@order.vendor.email}" %>><%= @order.vendor.email %></a> or give us a call at <a href="tel:(646) 979-9255">(646) 979-9255</a>.
					</td>
				</tr>
      </table>

    </td>
  </tr>
</table>
