<h3 class="title">Customer Sales</h3>
<label for=""><span class="label-text">Spend by:</span>
  <!-- <select name="spendBy" id="spendBy">
    <option value="Supplier">Customer</option>
    <option value="">Option 2</option>
    <option value="">Option 3</option>
  </select> -->
</label>
