<h3 class="title">Food Sales</h3>
<div class="col1">
  <!-- <select name="period" id="period">
    <option value="Monthly">Monthly</option>
    <option value="">Option 2</option>
    <option value="">Option 3</option>
  </select> -->
</div>
