<h3 class="title">Payment Status</h3>
<table class="status-table">
  <tr>
    <th>Customer</th>
    <th>Connection</th>
    <th>Last Invoice</th>
  </tr>
  <tr>
    <td>Whole Foods</td>
    <td><i class="fa fa-check"></i></td>
    <td>3 days ago</td>
  </tr>
  <tr>
    <td>Dean and Deluca</td>
    <td><i class="fa fa-check"></i></td>
    <td>28 days ago</td>
  </tr>
</table>
