<h3 class="title">Payment Status</h3>
<table class="status-table">
  <tr>
    <th>Customer</th>
    <th>Connection</th>
    <th>Last Invoice</th>
  </tr>
  <% @customers.each do |customer| %>
    <% next if customer.orders.count == 0 %>
    <tr>
      <td><%= customer.name %></td>
      <td><i class="fa fa-check"></i></td>
      <td> <%= customer.orders.where('delivery_date <= ?', DateTime.current.to_date).order('delivery_date DESC').limit(1).first.delivery_date.to_date.to_formatted_s(:long) %> </td>
    </tr>
  <% end %>
</table>
